node_modules/
www/

.tmp/
.tmp-pydeps/
.playwright-cli/
$extract/

android/.gradle/
android/.idea/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties

output/signing/
output/

*.log

current-device.png
final-ui-check.png
handwrite-final-check.png
tmp-katakana-u-frames.png
ui-polish-check.png
